/* quitar los estilos por defecto del iframe */
.ifFooter{
    width: 100% !important;
    height: 180px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.ifslider {
    position: fixed;
    width: 100% !important; 
    height: 300px;
}